<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../disk/scripts/tailwind.css" />

    <title>Docs</title>
  </head>
  <body class="h-screen">
    <div class="grid grid-cols-[20%_80%] h-[80%]">
      <aside class="bg-green-200 overflow-x-auto">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex sunt harum
        suscipit ipsam cupiditate animi esse quis provident quidem dicta Lorem
        ipsum dolor sit, amet consectetur adipisicing elit. Ex sunt harum
        suscipit ipsam cupiditate animi esse quis provident quidem dicta Lorem
        ipsum dolor sit, amet consectetur adipisicing elit. Ex sunt harum
        suscipit ipsam cupiditate animi esse quis provident quidem dicta Lorem
        ipsum dolor sit, amet consectetur adipisicing elit. Ex sunt harum
        suscipit ipsam cupiditate animi esse quis provident quidem dicta Lorem
        ipsum dolor sit, amet consectetur adipisicing elit. Ex sunt harum
        suscipit ipsam cupiditate animi esse quis provident quidem dicta Lorem
        ipsum dolor sit, amet consectetur adipisicing elit. Ex sunt harum
        suscipit ipsam cupiditate animi esse quis provident quidem dicta Lorem
        ipsum dolor sit, amet consectetur adipisicing elit. Ex sunt harum
        suscipit ipsam cupiditate animi esse quis provident quidem dicta Lorem
        ipsum dolor sit, amet consectetur adipisicing elit. Ex sunt harum
        suscipit ipsam cupiditate animi esse quis provident quidem dicta Lorem
        ipsum dolor sit, amet consectetur adipisicing elit. Ex sunt harum
        suscipit ipsam cupiditate animi esse quis provident quidem dicta Lorem
        ipsum dolor sit, amet consectetur adipisicing elit. Ex sunt harum
        suscipit ipsam cupiditate animi esse quis provident quidem dicta Lorem
        ipsum dolor sit, amet consectetur adipisicing elit. Ex sunt harum
        suscipit ipsam cupiditate animi esse quis provident quidem dicta Lorem
        ipsum dolor sit, amet consectetur adipisicing elit. Ex sunt harum
        suscipit ipsam cupiditate animi esse quis provident quidem dicta Lorem
        ipsum dolor sit, amet consectetur adipisicing elit. Ex sunt harum
        suscipit ipsam cupiditate animi esse quis provident quidem dicta Lorem
        ipsum dolor sit, amet consectetur adipisicing elit. Ex sunt harum
        suscipit ipsam cupiditate animi esse quis provident quidem dicta Lorem
        ipsum dolor sit, amet consectetur adipisicing elit. Ex sunt harum
        suscipit ipsam cupiditate animi esse quis provident quidem dicta Lorem
        ipsum dolor sit, amet consectetur adipisicing elit. Ex sunt harum
        suscipit ipsam cupiditate animi esse quis provident quidem dicta Lorem
        ipsum dolor sit, amet consectetur adipisicing elit. Ex sunt harum
        suscipit ipsam cupiditate animi esse quis provident quidem dicta Lorem
        ipsum dolor sit, amet consectetur adipisicing elit. Ex sunt harum
        suscipit ipsam cupiditate animi esse quis provident quidem dicta Lorem
        ipsum dolor sit, amet consectetur adipisicing elit. Ex sunt harum
        suscipit ipsam cupiditate animi esse quis provident quidem dicta
      </aside>
      <div class="bg-yellow-100">
        <nav class="flex justify-between mt-10">
          <a class="ml-5" href="/"
            ><img src="../images/logo.svg" alt="logo"
          /></a>

          <div class="flex justify-between w-[25%] mr-[10rem]">
            <a href="/">Home</a>
            <a href="/docs">Docs</a>
            <a href="/github">GitHub</a>
          </div>
        </nav>
        <main class="overflow-x-auto">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum cumque
          nobis minima aut, ipsum dolorem ad, odit quia autem debitis reiciendis
          impedit dolorum tempore amet natus quasi libero vitae laboriosam!
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum cumque
          nobis minima aut, ipsum dolorem ad, odit quia autem debitis reiciendis
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum cumque
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum cumque
          nobis minima aut, ipsum dolorem ad, odit quia autem debitis reiciendis
          impedit dolorum tempore amet natus quasi libero vitae laboriosam!
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum cumque
          nobis minima aut, ipsum dolorem ad, odit quia autem debitis reiciendis
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum cumque
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum cumque
          nobis minima aut, ipsum dolorem ad, odit quia autem debitis reiciendis
          impedit dolorum tempore amet natus quasi libero vitae laboriosam!
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum cumque
          nobis minima aut, ipsum dolorem ad, odit quia autem debitis reiciendis
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum cumque
          nobis minima aut, ipsum dolorem ad, odit quia autem debitis reiciendis
          impedit dolorum tempore amet natus quasi libero vitae laboriosam!
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum cumque
          nobis minima aut, ipsum dolorem ad, odit quia autem debitis reiciendis
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum cumque
          nobis minima aut, ipsum dolorem ad, odit quia autem debitis reiciendis
          impedit dolorum tempore amet natus quasi libero vitae laboriosam!
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum cumque
          nobis minima aut, ipsum dolorem ad, odit quia autem debitis reiciendis
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum cumque
          nobis minima aut, ipsum dolorem ad, odit quia autem debitis reiciendis
          impedit dolorum tempore amet natus quasi libero vitae laboriosam!
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum cumque
          nobis minima aut, ipsum dolorem ad, odit quia autem debitis reiciendis
          impedit dolorum tempore amet natus quasi libero vitae laboriosam!
        </main>
      </div>
    </div>
  </body>
  <footer class="bg-slate-400 h-[20%]">
    <h1>footer</h1>
  </footer>
</html>
